

header {
    width: 1000px;
    height: 100px;
    background-color: greenyellow;
    margin: auto;
}

nav {
    width: 1000px;
    height: 50px;
    background-color: deepskyblue;
    margin: auto;
}

main {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkred;
}

footer {
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
}


