body {
    margin: 0%;
    padding: 0%;
}

/* --------------------------------------------header------------------------- */
header {
    width: 1000px;
    height: 100px;
    background-color: rgba(192, 58, 43, 0.753);
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
        /* /////---- pub ----//// */
#logo1 {
    width: 200px;
    height: 100px;
    margin: 0%;
}

#logo2 {
    width: 700px;
    height: 100px;
    margin: 0%;
}

/* ---------------------------------nav---------------------------------- */

nav {
    width: 1000px;
    height: 30px;
    background-color: rgba(41, 128, 185,1.0);
    margin: 0px auto 0px auto;
}
.navContainer {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
        /* ////////----UL list---////// */
.containerUL {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: none;
    width: 500px;
    height: 25px;
    margin: 0%;
    padding: 0%;
}

.listItem {
    background-color: none;
    text-align: center;
    padding: 2px;
    margin-left: 5px;
    border-bottom: white solid 2px;
    border-right: white solid 2px;
    height: 20px;
    width: 100px;
}

.listItem a {
    text-decoration: none;
    color: lightgray;
}

.listItem a:hover {
    text-decoration: none;
    font-size: 15px;
    color: cyan ;
}
        /* /////////----input and button---///// */
.info input {
    margin: 2.5px 0px 0px 0px;
    border: 2px solid lightslategray;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    padding: 0%;
}

.info button {
    background-color: lightseagreen;
    border: 1px solid lightseagreen; 
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}

.info a {
    text-align: center;
    color: white;
    text-decoration: none;
}



.info button:hover  {
    cursor: pointer;
}

.info a:hover {
    text-decoration: none;
    font-size: 15px;    
    color:  cyan;
    cursor: pointer;
}
/* -----------------------------------main------------------------------------- */
main {
    width: 1000px;
    min-height: 800px;
    background-color: rgba(52, 152, 219, 0.527);
    margin: 0px auto;
}
   /* ////// ---content---- /// */

.animeContainer {
    margin: 0px auto;
    width: 900px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animeCard {
    margin: 0px auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animeItem {
    margin: 10px auto;
    position: relative;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.img {
    width: 100%;
    min-height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.animeItem:hover img  {
    opacity: 0.3;
}

.animeItem:hover:hover .middle {
    opacity: 1;
}

.Text {
    color: white;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    font-family: 'Secular One', sans-serif;
}

.middle a,a:hover {
    text-decoration: none;
}







 /* ---------------------------------- Footer ---------------------- */

footer {
    width: 1000px;
    height: 50px;
    background-color: rgba(241, 196, 15,1.0);
    margin: 0px auto 0px auto;
}