body,html {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

*{
    box-sizing: border-box;
}

.bg-img {
    background-image: url(pic/bg2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 400px;
    max-height: 500px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.377);
  }

  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }

  .btn {
    background-color: #d6ce56;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity: 1;
  }